@use '../tools' as *;

.burger-btn{
    @include reset-btn;
    
    @include square(rem(34));

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: rem(5);
    padding: rem(8.5) rem(4.25);
    color: var(--light-color);

    &.is-active{
        .burger-btn__line{
            &:nth-child(1){
                rotate: 45deg;
                transform-origin: 0;
                translate: 0.25em -0.1em;
            }

            &:nth-child(2){
                rotate: -45deg;
            }

            &:nth-child(3){
                width: 0;
            }
        }
    }

    @include hover{
        color: var(--dark-color);
    }

    &__line{
        background-color: currentColor;
        width: 100%;
        border-radius: rem(1);
        height: rem(2);
        transition-duration: var(--transition-duration);

        &:last-child{
            width: 55%;
            align-self: end;
        }
    }
}