@use '../tools' as *;

.glide{
    display: grid;
    row-gap: rem(32);
    
    @include mobile{
        position: relative;
        width: 100%;
        max-width: rem(800);
    }

    &__track{
        overflow: hidden;
    }

    &__slides{
        @include mobile{
            position: relative;
        }
    }

    &__arrows{
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(40);

        &--wide{
            justify-self: normal;
            background-color: steelblue;
        }
    }

    &__arrow{
        @include reset-btn;

        @include square(#{rem(68)});

        display: inline-flex;
        align-items: center;
        justify-content: center;

        @include hover{
            opacity: .55;
        }
    }
}