@use '../tools' as *;

.header{
    position: sticky;
    top: 0;
    z-index: 100;
    animation-name: header-scroll;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: rem(30) rem(200);
    backdrop-filter: blur(rem(5));
    background: rgba(24, 24, 24, 0.4);
    color: var(--light-color);
    border-bottom: rem(1) solid var(--light-color);

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
        padding-block: rem(24);
    }

    &__mobile-overlay{
        @include mobile-above{
            display: contents; // как бы отключает обертку на экранах выше разрешения мобилки что позволяет правильно располодить элементы
        }

        @include tablet-s{
            position: fixed;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: var(--dark-color-19);
            padding: 1rem;
            row-gap: 3rem;
            transition-duration: var(--transition-duration);

            &:not(.is-active){
                @include hide;

                translate: 100%;
            }
        }
    }

    &__menu{
        &-list{
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: rem(32);

            @include tablet{
                column-gap: rem(16);
            }
        }
    }
}