@use '../tools' as *;


.icon{
    display: inline-flex;
    align-items: center;
    column-gap: rem(14);

    &::after{
        --size: #{rem(32)};

        @include square(var(--size));

        content: '';
        flex-shrink: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &--circle-after{
        &::after{
            content: url('/public/icons/circle--arrow-right.svg');
        }
    }
}
