@use 'tools' as *; // позволяет использовать переданные в index.scss функции, миксины и пр.

html{
    &.is-locked{ // класс который предотвращает возможность скролла страницы когда открыто оверлей меню
        overflow: hidden;
    }
}

body{
    @include fluid-text(18, 14);

    display: flex;
    flex-direction: column;

    font-family: var(--font-base);
    font-weight: 400;
    letter-spacing: -0.03em; // согласно inspect styles плагину в фигме

    color: var(--dark-color);
    background-color: var(--light-color);
}

main{
    flex-grow: 1; // нужно чтобы этот элемент растянулся максимально по высоте занимая все доступное пространство прижимая тем самым footer к низу вне зависимости от объема содержимого
}

// классы нужны чтобы соблюсти последовательность заголовков при этом сохраняя необходиый стиль
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: var(--dark-color);
}

// изменение семейства шрифтов для заголовков использующих отличный от font-base шрифт
h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: var(--font-accent);
    font-weight: 700;
}

h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: 500;
}

h1, .h1 {
    @include fluid-text(72, 48);

    line-height: 1.2;
}

h2, .h2 {
    @include fluid-text(48, 32);

    line-height: 1.3;
}

h3, .h3 {
    @include fluid-text(40, 24);
}

h4, .h4 {
    @include fluid-text(25, 18);
}

h5, .h5 {
    @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
    color: inherit;

    @include hover{
        opacity: .5;
    }

    &[class]{
        text-decoration: none; // отключает подчеркивание только у определенных классов на элементах ссылок
    }
}

:focus-visible{ // псевдокласс срабатывающий при фокусировке с клавиатуры
    outline: rem(2) dashed var(--accent-color);
    outline-offset: rem(2); // отступ(смещение) для обводки
}

a, button{
    &[aria-label]{ // селектор по атрибуту aria-label
        position: relative;

        &::before{ // элемент который увеличивает область нажатия родительского элемента
            @include abs-center;
            
            @include square(rem(44));

            content: '';
        }
    }
}