@use 'tools' as *;

:root{
    // цвета
    --dark-color: #34343F;

    --accent-color: #1B223C;

    --light-color: #fff;

    // шрифты
    --font-base: "Muller Regular", arial;
    --font-accent: "Muller Bold", arial;

    // gradients
    --btn-gradient: linear-gradient(90deg, #009bfb 0%, #1d3fa0 100%);

    // borders
    --border-light: #{rem(1)} solid var(--light-color);

    // размеры контейнера
    --container-width: #{rem(1640)};
    --container-padding-x: #{rem(20)}; // берется из мобилки, по значению отступов от контейнера

    // длительность переходов
    --transition-duration: 0.3s;

    @include laptop{
        --container-width: #{rem(1340)};
    }
}